
.angular-google-map-container {
  position: absolute;
  top: 0;
  left:0;
  width:100% !important;
  height: 100% !important;
}

#googleMap {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.gm-style-iw {
  background-color: red;
}


.page {
  text-align: center;
}

.page h1    { font-size:60px; }
.page a     { margin-top:50px; }


.page-home      { background:#00D0BC; color:#00907c; }
.page-about     { background:#E59400; color:#a55400; }
.page-detail   { background:#ffa6bb; color:#9e0000; }


/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
  0%      { transform: rotateZ(0deg); }
  20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
  40%     { transform: rotateZ(17deg); }
  60%     { transform: rotateZ(16deg); }
  100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
  to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
  to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
  from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
  from    { transform:translateX(100%); }
  to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
  from    { transform:translateY(100%); }
  to      { transform: translateY(0); }
}

.ng-enter           { animation: scaleUp 0.5s both ease-in; z-index: 8888; }
.ng-leave           { animation: slideOutLeft 0.5s both ease-in; z-index: 9999; }


/* home -------------------------- */
.page-home.ng-enter         { animation: scaleUp 0.5s both ease-in; }
.page-home.ng-leave         { transform-origin: 0% 0%; animation: rotateFall 1s both ease-in; }

/* about ------------------------ */
.page-about.ng-enter        { animation:slideInRight 0.5s both ease-in; }
.page-about.ng-leave        { animation:slideOutLeft 0.5s both ease-in; }

/* contact ---------------------- */
.page-detail.ng-leave      { transform-origin: 50% 50%; animation: rotateOutNewspaper .5s both ease-in; }
.page-detail.ng-enter      { animation:slideInUp 0.5s both ease-in; }

