<div id="googleMap">
  <ui-gmap-google-map center='map.center' zoom='map.zoom'>
    <ui-gmap-markers models="markers" idkey="markers.id" coords="'coords'" icon="'icon'" click="onClick()" events="markers.events" >
      <ui-gmap-windows show="show" closeClick="closeClick()" class="mapWindow">
        <div ng-non-bindable>{{id}} {{icon}}
          <h1>{{name}}</h1>
          <a href="#/detail/{{id}}" class="thumb">Show Detail</a>
        </div>
      </ui-gmap-windows>
    </ui-gmap-markers>
  </ui-gmap-google-map>
</div>

